<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>An About Us Page</title>
  <link rel="stylesheet" href="/static/css/about.css">

</head>

<body>
  <section class="about-us">
    <div class="about">
      <div class="text">
        <h2>About Us</h2>
        <h5>Vattavata Home Stay & <span>Kerala</span></h5>
        <p>Kerala Vattavata Homestay is a cozy retreat in the heart of Kerala, offering a warm and welcoming atmosphere. Surrounded by scenic beauty, it provides comfortable accommodations and authentic local flavors. Escape the hustle, embrace tranquility, and experience genuine hospitality at this charming homestay in God's Own Country.</p>
        <div class="data">
          <button class="hire" onclick="redirectToIndex()">Home</button>
        </div>
      </div>
    </div>
  </section>
  <!--------------------------------------------------------------------->
<script>

    function redirectToIndex() {
      // Redirect to index.html
      window.location.href = 'index.html';
    }
</script>
</body>

</html>
